.cardsz img{
    margin: 0 auto;
    height: 150px;
    width: 300px;
}
.cardsz h2{
    padding: 10px;
}
.cardsz p{
    text-align: justify;
}
.button-cl{
    border-radius: 5px;
    background-color: rgba(245, 66, 35, 0.986);
    color: white;
    padding: 5px 20px;
    font-size: 18px;
}